.quadrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.q1 {
    width: 150px;
    height: 150px;
    background-color: rgb(37, 37, 160);
}

.q2 {
    width: 150px;
    height: 150px;
    background-color: rgb(95, 95, 221);
}


