.circulos {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    
}

.c1 {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100px;
}

.c2 {
    width: 150px;
    height: 150px;
    background-color:yellow;  
    border-radius: 100px;
}

.c3 {
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 100px;
}


